/* .cards {
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
} */

/* @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
}

@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    /* scrollbar-width: 0px;
  } */
  
  /* *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  } */ */

.card {
    width: 75%;
    height: 75%;
    /* background-color: blueviolet; */
    border: 2px black;
    border-radius: 25px;
    box-shadow: 5px 10px #999999;
    display: flex;
    /* position: absolute; */
}