/* .cards {
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
} */

.carousel {
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
}

/* .carousel-inner {
    width: 70%;
    height: 100%;
} */